<div class="task-list container-fluid">
    <h2 id="Title">Task List</h2>
    <div >
      Display Order:<select ng-init="selectedView = views[0]" ng-model="selectedView" ng-options="x for x in views">
      </select>
    </div>
    <ul>
      <li class="links" ng-hide="tasklist.length">No tasks</li>
      <li class="links" ng-repeat="x in tasklist | orderBy:selectedView" class="TaskItem">
        <input type="checkbox" ng-model="x.done"><label class="strikethrough">{{x.name}} in project {{x.project}}</label>
      </li>
    </ul>
    <!-- Form -->
    <button ng-click="showForm = !showForm">
      <div ng-show="!showForm">Add Task</div>
      <div ng-show="showForm">Hide Form</div>
    </button>
    <button ng-click="emptyComplete()">Clean Tasklist</button>
    <div ng-show="showForm">
      <form>
        Task Name:<input type="text" placeholder="Add Task" ng-model="formNewTask" ng-model-instant/>
        Project:<select ng-init=" " ng-model="selectedProject" ng-options="y.name for y in prj"> </select>
        <div ng-show="selectedProject">
          Sprint:<select ng-init="" ng-model="selectedSprint" ng-options="z.name for z in sprintlistT | filter:{project: selectedProject.name}"> </select>
        </div>
        <button ng-click="addTask()">Add</button>
      </form>
    </div>
</div>
