<div class="task-list container-fluid">
    <h2 id="Title">Task List</h2>
    <div>
      Display Order:<select ng-init="selectedView = views[2]" ng-model="selectedView" ng-options="x for x in views">
      </select>
    </div>
    <h3>Not Completed Tasks</h3>
    <ul>
      <h4 ng-hide="(tasklist | filter:{complete:false}).length" style="text-align: center">No tasks to complete</h4>
      <li class="links" ng-repeat="x in tasklist | orderBy:selectedView | filter:{complete:false}" class="TaskItem">
        <input type="checkbox" ng-model="x.done"><label class="strikethrough">{{x.name}}</label>
      </li>
    </ul>
    <!-- Form -->
    <button ng-click="showForm = !showForm">
      <div ng-show="!showForm">Add Task</div>
      <div ng-show="showForm">Hide Form</div>
    </button>
    <button ng-click="emptyComplete()">Mark Done</button>
    <br><br><br>
    <div ng-show="showForm">
      <form>
        Task Name:<input type="text" placeholder="Add Task" ng-model="formNewTask1" ng-model-instant/>
        Project:<select ng-init=" " ng-model="selectedProject" ng-options="y.name for y in prj"> </select>
        Due:<input type="date" ng-model="duedate">
        <div ng-show="selectedProject">
          Sprint:<select ng-init="" ng-model="selectedSprint" ng-options="z.name for z in sprintlistT | filter:{project: selectedProject.name}"> </select>
        </div>
        <button ng-click="addTask()">Add</button>
      </form>
    </div>
    <h3>Completed Tasks</h3>
    <ul>
      <h4 ng-hide="(tasklist | filter:{complete:true}).length" style="text-align: center">No completed tasks</h4>
      <li class="links" ng-repeat="x in tasklist | orderBy:selectedView | filter:{complete:!false}" class="TaskItem">
        <label class="done">{{x.name}} in project {{x.project}}</label>
        <button type="button" ng-click="nDone(x)" style="float:right; margin:0 !important;">Not Done</button>
        <button type="button" ng-click="gone(x)" style="float:right; margin:0 !important;">Delete</button>
      </li>
    </ul>
</div>
